.about {
    background-color: var(--color-black);
    color: var(--color-white);
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

.about .fullscreen-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about .smallscreen-img {
  display: none;
}

.about .text {
  position:absolute;
  font-size: var(--font-normal);
  text-align: left;
  padding: 20px;
  width: 50%;
  margin-left: -30%;
  font-family: 'Goldman', sans-serif;
  font-weight: var(--weight-extra-bold);
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .about {
    background-color: var(--color-black);
    color: var(--color-white);
    height: 110vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .about .fullscreen-img {
    display: none;
  }

  .about .smallscreen-img {
    display:block;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    filter: blur(5px);
    opacity: 70%;
  }

  .about .text {
    position: relative;
    font-size: 1.25rem;
    width: 90%;
    margin-left: 0;
    text-align: left;
  }
}