.home {
    background-color: var(--color-black);
    color: var(--color-white);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .home .fullscreen-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 90%;
    object-fit: cover;
    z-index: 1;
  }

  .home .smallscreen-img {
    display: none;
  }

  .home .tagline {
    display:none;
  }
  
  .home .text {
    font-size: var(--font-medium);
    text-align: left;
    padding: 20px;
    margin-left: 120px;
    font-family: 'Goldman', sans-serif;
    font-weight: var(--weight-extra-bold);
    z-index: 2;
  }

  @media only screen and (max-width: 576px) {
    /* Styles for screens smaller than 600px (e.g., phones) */
    .home {
      grid-template-columns: 1fr;
      height: auto;
    }
  
    .home .fullscreen-img {
      display: none;
    }
  
    .home .smallscreen-img {
      display:block;
      position: relative;
      width: 100%;
      object-fit: cover;
      z-index: 1;
      margin-top: -10%;
    }

    .home .tagline {
      margin-top: -5%;
      display: block;
      margin-left: 25px;
      margin-bottom: -5%;
    }
  
    .home .text {
      font-size: 150%;
      margin-left: 0; /* Reset the margin for text on smaller screens */
      text-align: left; /* Left-align the text on smaller screens */
    }
  }
  
  